h1{
    height: 85px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    margin-right: 20%;
    margin-left: 20%;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
}
/* h3{
    
    color: seashell;
}
h2{
    color: seashell;
} */